<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/css/styles.css">
    <title>Document</title>
    <!--para que no deforme la imagen-->
    <style type="text/css">
    
        img{width: 400px; height: 300px; object-fit: cover;}
      </style>
</head>

<body>
<header>

    <!--HEADER-->
      
      <h1>      Recetas faciles        </h1>
      
  



    
</header>


        
    
      


    


  <!---parte pp-->

 <main> 

<!--receta s-->

    <div>
        <h2>Tipos de recetas:</h2>
        
        <br>
        <br>
        <section> 
            <!-- dificultad1  AVENA-->
            <!--imagen!!-->
            <div class ="receta1"> <a title="Galletitas de Avena" href="recetas/avena.html"> <img src="img/avena.jpg" alt="Galletitas de Avena" ></a>
            </div>
            <!--Texto -->
            <p>nivel de dificultad: facil</p>
            
           <!--fin de Avena -->

            
            

        </section>


        <section class="receta2"> 

            <!--dificultal2 Brownie con Helado--> 
           
                <h1>Nivel de dificultad: intermedio</h1>

                <img src="img/helado.jpg">
    
                
            <!----</article>
            <p>n </p>
            <img 
            class="imagenes"  align="left">Texto tan extenso como queramos que cubrirá la parte derecha de la imagen. Sigo poniendo texto para que se vea el efecto, Bla bla bla bla bla bla bla... 
            </p>--->
        </section>
        <p> 
            

        <section> 

              <!--dificultad 3-->
              <div class ="imagenes"> <a title="Trufas" href="recetas/trufas.html"> <img src="img/trufas.jpg" alt="Trufas" ></a>
               <p><img class="imagenes" >  Nivel de dificultad:desafiante</p>
                
            </section>
    </div>
</main>
   






<footer>

    <!--correo-->
    <table><a href="mailto: rtorri.2022@gmail.com?subject=contacto"> enviar correo</a></table>

    
    <!--mapa -->
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.581308696137!2d-58.45861307434389!3d-34.61474748110051!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca1ea91fd4cf%3A0xbaee7969a08f24df!2sPlaza%20Irlanda!5e0!3m2!1ses!2sar!4v1665696484133!5m2!1ses!2sar" width="400" height="350"  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>


    


    <!--formulario-->

</footer> 
</html>