*{
    margin: 20%;
    padding: 20%;
    box-sizing: border-box;
}

/* header */

header{
    background-color: blue;
}

h1{
    width: 100%;
    text-align: center ;
    border: 4px cyan solid;
    max-width: none;
    margin:  55px;
    background-image: url(img/fondo1.jpg);
    

     /* body */
 
    
    
    section{
        background-image: url(img/fondo1jpg);
        height: 200px;
        width:auto
           

    }

   
/* footer */
footer{
    
    
    padding-block-end: 100%;
    margin-bottom: 100%;

    background-color: black;
    width: 100%;
}