*{
    margin: 10;
    padding: 10;
    box-sizing: border-box;
}

/* header */

head{
    background-color: blue;
}



     /* body */
 
    h1{
        text-align: center ;
        border: 4px cyan solid;
        max-width: none;
        margin:  55px;
        background-image: url(img/fondo1.jpg);
        
        
    
    
    section{
        background-image: url(/img/fondo1jpg);
        height: 200px;
        width:auto
           
        
    
    }

   }
   
/* footer */