*{
    margin: 0;
    padding: 0;
    border: 0px blue;
    
}


/*media queries */
@media only screen and (max-width: 600px){
     
}
@media only screen and (min-width:  )
/* header */



h1, h2{ /* recetad faciles y tipo de recetas*/
    text-align: center ;
    /*border: 4px rgb(255, 134, 4) solid;*/
    max-width: none;
    margin:  px;
    background-image: url(img/image.jpg);
    border: 0;
    font-size: xxx-large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;    
    
}

     /* body */
 
    
      body {
        border: 0px rgb(252, 181, 181) solid;
        min-height: 0px;
        /* margin: 0.5rem; */
    }
     
    
        
    
     div{
          
       letter-spacing: normal;
       line-height: normal;
       text-size-adjust: 80%;
    
    }
    
    h3{ 
        font-size:x-large;
        position: static;
        
    }
    
   
    fácil{
        /* padding-block-end: 100%; */
        margin-bottom: 100%;
        background: greenyellow);
        width: 100%;
        display: inline-block;
    }


    main{
        section{
            background-color: chartreuse;
            height: 200px;
            /* width: 1500px; */
            padding-block-end: 100%;
            margin-bottom: 100%;
        
        }
    }
   
/* footer */
footer{
    
    
    padding-block-end: 100%;
    margin-bottom: 100%;

    background-color: black;
    width: 100%;
}